body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.head h1 {
  font-size: 28px;
}
.navLink-active {
  font-weight: 900;
}

.nav-bar a:link,
.nav-bar a:visited {
  font-size: 22px;
  text-decoration: none;
  color: black;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul {
  display: flex;
  gap: 10px;
}
.navLink {
  text-transform: capitalize;
}
.hero {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 40px;
  height: calc(100vh - 100px);
  align-items: center;
}
.content i {
  font-size: 20px;
  margin-right: 20px;
}
.content h1 {
  font-size: 60px;
  letter-spacing: 1.1;
}
.content p {
  font-size: 20px;
  color: #7c7c7c;
}
.info {
  display: flex;
  align-items: center;
}
.info h3 {
  font-size: 16px;
  margin-right: 10px;
  text-decoration: underline;
}
.right img {
  width: 300px;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.image {
  text-align: start;
}
.image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 375px) {
  .head h1 {
    font-size: 24px;
  }
  .container {
    padding: 10px 30px 20px 30px;
  }
  .head {
    justify-content: center;
    padding: 0;
  }
  .nav-bar a:link,
  .nav-bar a:visited {
    font-size: 16px;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .left .content h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .info h3 {
    padding: 0;
    margin: 5px;
  }
  .right {
    display: inline;
    gap: 20px;
  }
  .image {
    margin-top: 20px;
  }
  .two-img img {
    width: 100%;
  }
}
